<div class="controls-container">
  <button [disabled]="(disabledPlay$ | async)" (click)="onClickPlay()">Play</button>
  <button [disabled]="(disabledStop$ | async)" (click)="onClickStop()">Stop</button>
  <button [disabled]="(disabledClear$ | async)" (click)="onClickClear()">Clear</button>
  <form class="seed-form">
    <select [disabled]="(disabledSeed$ | async)" (change)="onSelectChange($event)">
      <option value="" selected>Select seed</option>
      <option *ngFor="let seed of initialSeeds" [value]="seed">{{ seed }}</option>
    </select>
  </form>
</div>
